#app {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;

  .app-body {
    display: flex;
    min-height: 100%;

    .sidebar {
      transition: width .3s;
      width: $sidebar-width;

      @media (max-width: map-get($grid-breakpoints, "md")) {
        flex-shrink: 0;

        &.collapsed {
          width: 0;
        }
      }
    }

    .app-content {
      background: $gray-100;
      flex: 1;
      min-height: 100%;
      overflow-x: hidden;

      @media (max-width: map-get($grid-breakpoints, "md")) {
        flex: 0 0 100vw;
      }
    }
  }
}
