$white: #fff;
$gray-100: #f8f9fc;
$gray-200: #eaecf4;
$gray-300: #dddfeb;
$gray-400: #d1d3e2;
$gray-500: #b7b9cc;
$gray-600: #858796;
$gray-700: #6e707e;
$gray-800: #5a5c69;
$gray-900: #3a3b45;
$dark: #343a40;

$primary: #5960a3;
$secondary: $gray-600;
$success: #2bbbad;
$warning: #ffbb33;
$danger: #e74c3c;
$pink: #ec407a;
$ocean: #4096dd;

$display1-size: 3rem;
$display2-size: 2.5rem;
$display3-size: 2rem;
$display4-size: 1.5rem;

$body-color: $gray-700;
$border-color: darken($gray-200, 2%);

$box-shadow: 0 0 1.25rem rgba(0, 0, 0, .1);

$font-family-sans-serif: 'Source Sans Pro', sans-serif, Arial;

$sidebar-color: rgba($white, .8);
$sidebar-width: 8rem;

$navbar-light-brand-color: $gray-800;
$navbar-light-brand-hover-color: $gray-800;

$card-border-color: $border-color;
$card-cap-bg: $white;

$dropdown-border-color: $border-color;
$dropdown-color: $body-color;
$dropdown-font-size: 11pt;

$table-cell-padding: 1.25rem;
$table-cell-padding-sm: .5rem;

$modal-backdrop-bg: $white;
$modal-backdrop-opacity: .75;
$modal-content-border-color: $border-color;
$modal-fade-transform: scale(.9);
$modal-transition: transform .2s ease-out;
